In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

# Load data

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c!='income']
X = df[x_cols]
y = df["income"]
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

# Pre-processing

In [14]:
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)

In [16]:
# convert categories
encoders={}
for column in ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = X_train[column]

# Training

In [19]:
# Random Forest ALgorithm
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)

In [20]:
# Extra Trees ALgorithm
et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train, y_train)

In [ ]:
# save preprocessing objects and RF algorithm
joblib.dump(train_mode, "./train_mode.joblib", copress=True)
joblib.dump(encoders, "./encoders.joblib", copress=True)
joblib.dump(rf, "./random_forest.joblib", copress=True)
joblib.dump(et, "./extra_trees.joblib", copress=True)